@model atlasNOC.Areas.Google.Models.AnalyticsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Google/Views/Shared/_Layout.cshtml";
}
<style>
        .google-visualization-table-tr-odd {
            max-height:15.3px;
        }
        .google-visualization-table-tr-even {
            max-height:15.3px;
        }

</style>


<h2>Google Analytics Index</h2>
<div>
    
</div>
